.vjs-play-control,
.vjs-mute-control,
.vjs-volume-control,
.vjs-time-control,
.vjs-duration,
.vjs-live-control,
.vjs-seek-to-live-control,
.vjs-remaining-time,
.vjs-custom-control-spacer,
.vjs-playback-rate,
.vjs-chapters-button,
.vjs-descriptions-button,
.vjs-subs-caps-button,
.vjs-audio-button,
.vjs-picture-in-picture-control,
.vjs-fullscreen-control,
.vjs-current-time {
  display: none !important;
}

.vjs-progress-control {
    height: 3em !important;
    top: 0em !important;
  }
.vjs-control-bar {
    transition: none !important;
    transform: none !important;
    background-color: rgba(0,0,0,0) !important;
}